*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #10182F;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container{
  background-color: #FFFFFF;
  width: 80%;
  height: 90%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.description{
  text-align: center;
  margin-top: 10px;
  color: #10182F;
  margin-top: 2%;
  margin-bottom: 1%;
}

.title{
  margin-bottom: 15px;
  font-size: 24px;
}

.title-p{
  font-weight: 16px;
}

.apps-list{
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
}

.app{
  display: flex;
  justify-content: space-evenly;
}

.app-img{
  border-radius: 50%;
  background-color: #F0F2FB;
}

.deepScan-img{
  padding: 30px; background-color: #1246B8;
}

.app-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.app-name{
  font-size: 18px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.verified-img{
  margin-top: 1.5px;
}

.app-description{
  font-weight: 16;
  line-height: 25px;
}

.name-ver{
  display: flex;
}

.viewAllBtn{
  background-color: #10182F;
  color: #FFFFFF;
  border: solid;
  border-color:#10182F ;
  padding: 15px 35px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.tooltip{
  position: relative;
}

.tooltip::after,
.tooltip::before{
  --scale:0;
  --tooltip-color:#10182F;
  --arrow-size:7px;
  position: absolute;
  color: #F0F2FB;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  
}

.tooltip::before{
  --translate-y: -100%;
  content: attr(data-tooltip);
  height: 25px;
  width: max-content;
  background-color: var( --tooltip-color);
  padding: 7px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(16,24,47,1);
}

.tooltip:hover::before,
.tooltip:hover::after{
--scale:1 ;
}

.tooltip::after{
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var( --tooltip-color);
  transform-origin: top center;
}


@media only screen and (max-width: 1025px) {
  .container{
    overflow: auto;
    text-align: center;
    flex-direction: column;
  }
 
  .apps-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }
  .app{
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .viewAllBtn{
    position: absolute;;
    bottom: 30px;
    
  }
  .name-ver{
    display: flex;
    justify-content: center;
  }
  .app-info{
    margin-top: 15px;

  }
  .app-description{
    margin-top: 10px;
  }
  .viewAllBtn{
    margin: 0;
  }
}